{{#if user.username}}
<body id="profile_bkc">

<!--THE HEADER ITSLEF-->
  <div class="row">
    <!--SIDENAV MENU-->
    <div class="col s1 ">
      <!-- The SIDEBAR NAVIGATIONS-->
      <ul id="slide-out" class="side-nav z-depth-5">
          <li>
            <div class="user-view">
            <div class="background">
              <img src="../images/user-profile-bg.jpg">
            </div>
            <img class="circle" src="../images/profile.jpeg">
            <span class="black-text name">{{user.firstname}} {{user.lastname}}</span>
            <span class="black-text email">{{user.username}}@freemail.com</span>
            </div>
          </li>
          <li><a href="/mail/profile"><i class="material-icons">inbox</i>Inbox</a></li>
          <li><div class="divider"></div></li>
          <li><a href="/mail/outbox"><i class="material-icons">send</i>Outbox</a></li>
          <li><div class="divider"></div></li>
          <li><a href="/mail/trash"><i class="material-icons">delete</i>Trash</a></li>
          <li><div class="divider"></div></li>
      </ul>
      <ul style="text-align: left ; color: black">
        <a href="#" data-activates="slide-out" class="btn-floating button-collapse z-depth-1"><i class="small material-icons">menu</i></a>
      </ul>
    </div>
    <!--THE HEADER MENU-->
    <div class="col s11 ">
      <nav class="top-nav z-depth-5" id="Header_Profile">
        <div class="nav-wrapper">
          <ul id="dropdown1" class="dropdown-content">
            <li><a href="/mail/changePassword">Change Password</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Log out</a></li>
          </ul>
          <a href="#!" class="floating brand-logo center pulse" style="color:#ffd6cc">&nbsp; TRASH</a>
          <!-- Dropdown Trigger -->
          <ul class="right hide-on-small">
            <li><a class="dropdown-button right" style="color:white" href="#!" data-activates="dropdown1">More Options<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <!-- MAIN MAIL PAGE-->
  <div class="row z-depth-5" id="mail_layout">

    <!--SELECT EMAIL PAGE-->
    <div class="col s6 z-depth-5" id="email_page" >
      {{#if rows}}

      <ul class="collapsible" data-collapsible="accordion">

        {{#each rows}}

        <li>
          <div class="collapsible-header flow-text">
            <i class="material-icons">email</i>
            <h5>From: {{sender}}@freemail.com</h5>
            <h5>To:   {{recipient}}@freemail.com</h5>

            {{#if read_status}}
              <!--DO NOTHING-->
            {{else}}
              <span class="new badge"></span>
            {{/if}}
          </div>

          <div class="collapsible-body" style="background-color: #bfbfbf"><p>Subject: {{subject}}</p>
            <span>Date Received: {{date_sent}}</span>
            <ul style="text-align: right ; color: black; font-size: 130%">

              <br>
              <div class="container">
                <div class="row">
                  <div class="col s1 push-s9 ">
                    <form method="post" action="/mail/reading_page" target="reading_frame">
                      <input type="hidden" name="message_id_number" value="{{messageid}}">

                      <button type="submit" name="action" class="btn-floating card-reveal z-depth-1"><i class="small material-icons">open_in_new</i></button>
                      <label style="color:black; text-align: center" for="action">Read</label>
                    </form>
                  </div>
                  <div class="col s1 push-s10 ">
                    <form method="post" action="/mail/delete" target="reading_frame" style="text-align: right">
                      <input type="hidden" name="fdeleted" value="true">
                      <input type="hidden" name="message_id_number" value="{{messageid}}">
                      <button type="submit" name="action" class="btn-floating card-reveal z-depth-1"><i class="small material-icons">delete</i></button>
                      <label style="color:black; text-align: center" for="action">Delete Forever</label>
                    </form>
                  </div>
                  <div class="col s1 push-s11 ">
                    <form method="post" action="/mail/delete" target="reading_frame" style="text-align: right">
                      <input type="hidden" name="afdeleted" value="true">
                      <input type="hidden" name="message_id_number" value="{{messageid}}">
                      <button type="submit" name="action" class="btn-floating card-reveal z-depth-1"><i class="small material-icons">delete</i></button>
                      <label style="color:black; text-align: center" for="action">Delete All Forever</label>
                    </form>
                  </div>
                </div>
              </div>
            </ul>
          </div>
        </li>
        <div class="divider"></div>
        {{/each}}

      </ul>
        {{else}}
        <h4>TRASH IS EMPTY</h4>
      {{/if}}
    </div>

    <!--VIEW / EDIT EMAIL-->
    <div class="col s6 z-depth-5" id="read_page">
      <div class="row">
        <div class="col s12 ">
          <iframe src="/mail/reading_page" frameborder="0" name="reading_frame" scrolling="no" >
            <p>Your browser does not support iframes.</p>
          </iframe>
        </div>
      </div>
    </div>

  </div>


<!--RUNNING SCRIPT LAST AT THE END OF THE BODY-->
<script>
  $(".button-collapse").sideNav();
</script>

  {{else}}
  {{#if successful_login}}

    <h3>Hello, </h3>
    <h3>You Successfully created the account name {{username}}@freemail.com </h3>
    <p> Please log in to continue </p>
    <a href="/login">Log in</a><br>
  {{else}}
    <p>Please log in or sign up</p>
    <a href="/login">Log in</a><br>
    <a href="/signup">Sign up</a><br>
  {{/if}}
{{/if}}

</body>
